/**
 * _base.scss（ PC / SP共通）
 * -----------------------------------------------------------------------------
 */



// -----------------------------------------
// Media Query
// -----------------------------------------
$bp-tb     : 800px;
$bp-sp     : 640px;

@mixin media($media-width){
    @if $media-width == sp{
        @media only screen and (max-width:$bp-sp){
            @content;
        }
    } @else if $media-width == tb{
        @media only screen and (max-width:$bp-tb){
            @content;
        }
    } @else if $media-width == tbonly{
        @media only screen and (min-width: 641px) and (max-width:$bp-tb){
            @content;
        }
    }@else if $media-width == pc{
        @media only screen and (min-width: $bp-tb){
            @content;
        }
    }
}

// -----------------------------------------
// var
// -----------------------------------------
$black:#080808;
$gray:#b3b3b3;
$gray_dark:#6e6e6e;
$contentsW:1200px;
$smallW:968px;
$kasouW : 790px;
$wideW:1200px;

$contentsW_sp:100%;
$kasouW_sp : 70%;
$wideW_sp:90%;
$smallW_sp:80%;

// -----------------------------------------
// Clearfix
// -----------------------------------------

@mixin clearfix {
        @if $support-ie6 or $support-ie7 {
            *zoom: 1;
        }
        &:after {
            content: "."; 
            display: block;
            clear: both;
            height: 0; 
            visibility: hidden;
        }
}

// -----------------------------------------
// transition
// -----------------------------------------
//normal
@mixin trans($selector:all,$time:1s){
      transition: $selector $time;
      -moz-transition: $selector $time;
      -webkit-transition: $selector $time;
      -o-transition: $selector $time;
}

// for opacity
@mixin transEase($selector:all,$time:1s){
    -webkit-transition: $selector $time cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    -moz-transition: $selector $time cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    -o-transition: $selector $time cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    transition: $selector $time cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

// for translate from bottom
@mixin transEaseInOut($selector:all,$time:1s){
    -webkit-transition: $selector $time cubic-bezier(0,0.7,0.3,1);
    -moz-transition: $selector $time cubic-bezier(0,0.7,0.3,1);
    -o-transition: $selector $time cubic-bezier(0,0.7,0.3,1);
    transition: $selector $time cubic-bezier(0,0.7,0.3,1);
}

// for slider opacity
@mixin transEaseInOutSine($selector:all,$time:1s){
    -webkit-transition: $selector $time cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: $selector $time cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: $selector $time cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: $selector $time cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

// for opacity
@mixin transEaseOut($selector:all,$time:1s){
    -webkit-transition: $selector $time ease-out;
    -moz-transition: $selector $time ease-out;
    -o-transition: $selector $time ease-out;
    transition: $selector $time ease-out;
}
// for header menu open
@mixin transInOutCubic($selector:all,$time:1s){
    -webkit-transition: $selector $time cubic-bezier(0.5, 0, 0.08, 1);
    -moz-transition: $selector $time cubic-bezier(0.5, 0, 0.08, 1);
    -o-transition: $selector $time cubic-bezier(0.5, 0, 0.08, 1);
    transition: $selector $time cubic-bezier(0.5, 0, 0.08, 1);
}
// for zoom
@mixin transOutQuart($selector:all,$time:1s){
    -webkit-transition: $selector $time cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: $selector $time cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: $selector $time cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: $selector $time cubic-bezier(0.075, 0.82, 0.165, 1);
}

// for slider
@mixin transOutCubic($selector:all,$time:1s){
    -webkit-transition: $selector $time cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: $selector $time cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: $selector $time cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: $selector $time cubic-bezier(0.25, 0.1, 0.25, 1);
}

// -----------------------------------------
// calc()
// -----------------------------------------
@mixin calc($property, $expression) { 
#{$property}:100%;
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

// -----------------------------------------
// Absolute position(必要なところだけ入力)
// -----------------------------------------
@mixin abs ($top: auto, $right: auto, $bottom: auto, $left: auto) {
     position: absolute;
     top: $top;
     right: $right;
     bottom: $bottom;
     left: $left;
}

// -----------------------------------------
// fixed position(必要なところだけ入力)
// -----------------------------------------
@mixin fixed ($top: auto, $right: auto, $bottom: auto, $left: auto) {
     position: fixed;
     top: $top;
     right: $right;
     bottom: $bottom;
     left: $left;
}

// -----------------------------------------
// Opacity IE8対応版
// -----------------------------------------
@mixin opacity($opacity) {
    opacity: $opacity;
    filter: alpha(opacity=$opacity * 100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacity * 100})";// ie 8 
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    zoom:1;
}
@mixin animation($animation) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

// -----------------------------------------
// Width %で返す
// -----------------------------------------
// $baseWidth:750;
// @mixin widthp($thisWidth){
//     width: $thisWidth/$baseWidth * 100 + %;
// }

// -----------------------------------------
// font-sizeをremで計算
// -----------------------------------------
@mixin fts($fts, $lin: 24) {
  $rem: $fts / 10;
  $linS: $lin / $fts;
  font-size: #{$fts}px;
  font-size: #{$rem}rem;
  line-height: $linS;
}

/**
 * Modules
 * -----------------------------------------------------------------------------
 */
 .show_pc {
    display: block !important;
}
 .show_pctb {
    display: block !important;
}
.ua-sp{
     .show_pctb {
        display: none !important;
    }
    .show_sp {
        display: block !important;
    }
}
.show_sp {
    display: none !important;
}

/* =============================================
 New from 2016rn
============================================= */
/**
 * Module
 * -----------------------------------------------------------------------------
 */
.mt0{margin-top:0 !important;}
.mb0 { margin-bottom:0px !important; }
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb11 { margin-bottom:11px; }
.mb14 { margin-bottom:14px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb35 { margin-bottom:35px; }
.mb40 { margin-bottom:40px; }
.mb45 { margin-bottom:45px; }
.mb50 { margin-bottom:50px; }
.mb55 { margin-bottom:55px; }
.mb60 { margin-bottom:60px; }
.mb65 { margin-bottom:65px; }
.mb70 { margin-bottom:70px; }
.mb75 { margin-bottom:75px; }
.mb80 { margin-bottom:80px; }
.mb81 { margin-bottom:81px; }
.mb85 { margin-bottom:85px; }
.mb90 { margin-bottom:90px; }
.mb95 { margin-bottom:95px; }
.mb100 { margin-bottom:100px; }

.mr5 { margin-right:5px; }
.mr9 { margin-right:9px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr25 { margin-right:25px; }
.mr30 { margin-right:30px; }
.mr35 { margin-right:35px; }
.mr40 { margin-right:40px; }
.mr45 { margin-right:45px; }
.mr50 { margin-right:50px; }

.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml25 { margin-left:25px; }
.ml30 { margin-left:30px; }
.ml35 { margin-left:35px; }
.ml40 { margin-left:40px; }
.ml45 { margin-left:45px; }
.ml50 { margin-left:50px; }

.pt0{padding-top:0px !important; }
.pt5{ padding-top:5px; }
.pt10{ padding-top:10px; }
.pt15{ padding-top:15px; }
.pt20{ padding-top:20px; }
.pt25{ padding-top:25px; }
.pt30{ padding-top:30px; }
.pt35{ padding-top:35px; }

.mb_m{
    margin-bottom: 81px - 14*0.9;
}
.mb_l{
    margin-bottom: 95px - 14*0.9;
}


@for $i  from 0 through 20 {
    .mb#{$i}_sp {
       margin-bottom:5*$i+px !important;
    }
}

.op a img,
.op2{
    @include trans(opacity,0.5s);
}

.op a img:hover,
.op2:hover {
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden; 
}


.tar { text-align:right; }
.tac { text-align:center; }

.flL{ float:left; }
.flR{ float:right; }

.l-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.clearfix:after {
    height: 0;
    content: ".";
    display: block;
    clear: both;
    font-size:0;
    line-height:0;
    overflow: hidden;
}
.clearfix {
    _height: 1px;
    min-height: 1px;
    /*・･*//*/
    height: auto;
    overflow: hidden;
    /**/
}

/*-------------------------------------------------
    @Grid Options
-------------------------------------------------*/
$gridW:100/16;
.row{
    width:100%;
    padding:0 1%;
    overflow: hidden;
    @extend .clearfix;
}
@for $i  from 1 through 16 {
    .col-md-#{$i} {
       width:$gridW*$i+%;
       float:left;
       &.col-padl{
        padding-left:1%/ $i;
        }
    }
    .col-offset-#{$i} {
       margin-left:$gridW * $i+%;
    }
    .col-offsetl-#{$i} {
       margin-left:$gridW * $i+%;
    }
    .col-offsetr-#{$i} {
       margin-right:$gridW * $i+%;
    }
    .col-push-#{$i} {
       left:$gridW * $i+%;
    }
    .col-pull-#{$i} {
       right:$gridW * $i+%;
    }

    
}

@for $i  from 1 through 16 {
    //Sp
    .ua-sp{
        .col-md-#{$i}-sp {
                width:$gridW*$i+%;
               float:left;
               &.col-padl-sp{
                padding-left:1%/ $i;
                }
        }
        .col-offset-#{$i}-sp {
            margin-left:$gridW * $i+%;
        }
        .col-offsetl-#{$i}-sp {
           margin-left:$gridW * $i+%;
        }
        .col-offsetr-#{$i}-sp {
           margin-right:$gridW * $i+%;
        }
        .col-push-#{$i}-sp {
           left:$gridW * $i+%;
        }
        .col-pull-#{$i}-sp {
           right:$gridW * $i+%;
        }
        .nocol-sp{
            width: 100%;
            margin:0;
        }
    }
}

/*-------------------------------------------------
    @Placeholder
-------------------------------------------------*/
%temp-after{
    display:block;
    content:"";
    position:absolute;
    top:0;
    left:0;
}
%l-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/*-------------------------------------------------
    @border
-------------------------------------------------*/
%notbor{
    border-top:none !important;
}
%norbor{
    border-right:none !important;
}
%nolbor{
    border-left:none !important;
}
%nobbor{
    border-bottom:none !important;
}
.notbor{
    border-top:none !important;
}
.norbor{
    border-right:none !important;
}
.nolbor{
    border-left:none !important;
}
.nobbor{
    border-bottom:none !important;
}
.addbbor{
    border-bottom:1px solid #ececec;
}
.addrbor{
    border-right:1px solid #ececec;
}
.addlbor{
    border-left:1px solid #ececec;
}
.addtbor{
    border-top:1px solid #ececec;
}

.ua-sp .addbbor_sp{
    border-bottom:1px solid #ececec !important;
}
.ua-sp .addrbor_sp{
    border-right:1px solid #ececec !important;
}
.ua-sp .addlbor_sp{
    border-left:1px solid #ececec !important;
}
.ua-sp .addtbor_sp{
    border-top:1px solid #ececec !important;
}

%nobbor{
    border-bottom:none;
}
%addbbor{
    border-bottom:1px solid #ececec;
}
%addrbor{
    border-right:1px solid #ececec;
}
%addlbor{
    border-left:1px solid #ececec;
}
%addtbor{
    border-top:1px solid #ececec;
}

/*-------------------------------------------------
    box
-------------------------------------------------*/

.box-block{
    width:100%;
    margin: 0 auto;
    display:block;
}

.box-table{
    width:100%;
    margin: 0 auto;
    display:table;
}

.circle-red{
    background-color:#c84e57;
    width:4px;
    height: 4px;
    border-radius:2px;
    display: inline-block;
}

%text-overflow{
    width:100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -webkit-text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
}
.text-overflow{
    width:100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -webkit-text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
}

/*-------------------------------------------------
    box
-------------------------------------------------*/
%bg-cover{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;  
}

%bg-contain{
    background-size:contain;
    background-repeat:no-repeat;
    background-position:top center; 
}


/**
 * @Tags
 * -----------------------------------------------------------------------------
 */
 *{
    -webtki-box-sizing:border-box;
    box-sizing:border-box;
}
@media print{
    * {-webkit-print-color-adjust:exact;}
}
 ::selection {
  background: rgba(214,214,214,0.2);
}
::-moz-selection {
  background: rgba(214,214,214,0.2);
}

body, th, td, h1, h2, h3, h4, h5, h6, pre, input, textarea, option, div, p, dt, dd, li, address,a {
    font-family: Helvetica,san-serif;
    font-weight: normal;
    font-style: normal;
    color:$black;
    letter-spacing: 0.03em;
    word-break: break-all;
    @extend %txt;
}
.ua-windows{
    th, td, h1, h2, h3, h4, h5, h6, pre, input, textarea, option, div, p, dt, dd, li, address,a{
        font-weight: 500;//游明朝が汚く見える対策
    }
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html{
    @media screen and (min-width: 414px) and (max-width: $bp-sp ){
        font-size:68.75%;//11px
    }
    @include media(sp){
        font-size: 62.5%;//10px
    }
}
body {
    @include transEase(opacity,0.8s);
    // opacity: 0;
    background-color:#fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    &.load {
        opacity: 1;
    }
}
a {
    @include transEase(opacity,0.8s);
    opacity: 1;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    &:hover {
        opacity: 0.5;
    }
}


/* =============================================
 @Common
============================================= */

#wrapAll{
    overflow: hidden;
    position:relative;
    width: 100%;
    min-height: 100vh;
}
.contents{
    width: 100%;
}
.no-csstransitions{
   .contents{
        height: auto;
    } 
}
.contents_wrap{
    @include opacity(0);
    @include transEase(opacity,1s);
    padding-bottom:284px;
    width: 100%;
}
.article{
    &_wrap{
        width: $kasouW;
        margin:0 auto;
    }
    &_lead{
        width: $wideW;
        margin:0 auto;
        margin-bottom: 100px;
        figure{
            clear:both;
            padding-top: 50px;
        }
    }
    &_inner{
        margin-bottom: 100px;
        figure{
            margin-top: 50px;
        }
    }
}
.scroll_contens{
        width:100%;
        margin:0 auto;
        transition: top .7s cubic-bezier(0.250, 0.100, 0.250, 1.000);
        // position: absolute;
        position: fixed;
        overflow: hidden;
    }
    .scroll_container{
        width:100%;
        height: 8712px;
        margin:0 auto;
    }
.scroll-container-fixed{
    @include transEase(transform,0.5s);
    overflow: hidden;
    position:relative;
}
#progressbar{
    width:0;
    height: 5px;
    background-color:blue;
    @include abs(0,auto,auto,0);
}

//trans
.trans_init{
    @include opacity(1);
}
.trans-fadein{
    @include opacity(0);
    transform: translate3d(0,-20px,0);
    &.active{
        @include opacity(1);
        transform: translate3d(0,0,0);
    }
}
.trans_fadein{
    @include opacity(1);
}
.trans_fadeout{
    @include opacity(0);
}

//margin
.page{
    margin-top:134px;
}

/* =============================================
 @components
============================================= */
.slider{
    .slider_pic{
        height: 100%;
        @extend %bg-cover;
    }
        .slider_txt{
            display: table;
            width:100%;
            height: 100%;
            @include abs(0,auto,auto,0);
            z-index:99;
            text-align: center;
            .slider_txt_wrap{
                display: table-cell;
                vertical-align: middle;
                color:#333;
                .slider_ttl{
                     font-size:58px;
                }
                .slider_sub{
                    font-size:10px;
                }
            }
        }
    }
.btn_scroll{
    @include abs(auto,auto,30px,50%);
}


/*-------------------------------------------------
    .slider
-------------------------------------------------*/
.slider{
    overflow: hidden;
    position:relative;
    width:100%;
    height: 100vh;
    li{
        @include transOutCubic(opacity,2s);
        @include opacity(0);
        @include abs(0,auto,auto,0);
        width:100%;
        height: 100%;
        &.init{
            @include opacity(1);
        }
        &.hide{
            @include opacity(0);
        }
        &.active{
            @include opacity(1);
        }
        .slider_txt{
            @extend %l-center;
        }
    }
}

/*-------------------------------------------------
    .lazy
-------------------------------------------------*/
.lazy{
    @include opacity(0);
    transform: translate3d(0,-20px,0);
    &.active{
        @include opacity(1);
        transform: translate3d(0,0,0);
    }
}

/*-------------------------------------------------
    .txt
-------------------------------------------------*/
.fadein_txt{
    span{
        display: inline-block;
        // @include opacity(0);
        // -webkit-transform: scale(1.9,1.9);
        // -moz-transform: scale(1.9,1.9);
        // -ms-transform: scale(1.9,1.9);
        // -o-transform: scale(1.9,1.9);
        // transform: scale(1.9,1.9);
        -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
        -moz-transition: opacity .5s ease-out, -moz-transform .5s ease-out;
        -o-transition: opacity .5s ease-out, -o-transform .5s ease-out;
        transition: opacity .5s ease-out, transform .5s ease-out;
        &.show{
           // @include opacity(1);
            -webkit-transform: scale(1,1);
            -moz-transform: scale(1,1);
            -ms-transform: scale(1,1);
            -o-transform: scale(1,1);
            transform: scale(1,1);
        }
    }
}

//////////////////////////////////////
////// LOADING
//////////////////////////////////////
$loadercolor: #282828;
.loader {
    $loadersize: 50px;
    z-index: 100;
  display: inline-block;
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
  width: $loadersize;
  height: $loadersize;
  margin-left: -1 * $loadersize / 2;
  margin-top: -1 * $loadersize / 2;
  border-radius: $loadersize;
  border: 1px solid transparent;
  border-top-color: $loadercolor;
  border-left-color: $loadercolor;
  border-bottom-color: $loadercolor;
  @include animation(spin 0.7s linear infinite);
  @include trans(opacity, 0.5s);
    @include media(sp){
        $loadersizesp: 30px;
      width: $loadersizesp;
      height: $loadersizesp;
      margin-left: -1 * $loadersizesp / 2;
      margin-top: -1 * $loadersizesp / 2;
      border-radius: $loadersizesp;
      border: 1px solid transparent;
      border-top-color: $loadercolor;
      border-left-color: $loadercolor;
      border-bottom-color: $loadercolor;
    }
  &.hide{
    opacity: 0;
  }
}

@-webkit-keyframes spin {
    0%{ transform: rotate(0deg); transform: rotate(0deg);}
    100%{ transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes spin {
    0%{ transform: rotate(0deg); transform: rotate(0deg);}
    100%{ transform: rotate(360deg); transform: rotate(360deg);}
}
.load_box {
    position: relative;
    height: 60px;
    overflow: hidden;
}

/**
 * @parts
 * -----------------------------------------------------------------------------
 */

 /* =============================================
  @pic
 ============================================= */
 .ua-ie8{
     .h_fullscreen,.h_flex{
        background-image:none !important;
        img{
            display: block !important;
            width:100%;
            height: auto;
        }
    }
 }
 .h_fullscreen,.h_flex{
    background-size:cover;
    background-position:top center;
    img{
        display: none;
    }
 }
.h_fullscreen{
    width:100%;
    height: 100%;
    height: 100vh;
}

.h_flex{
    height: 800px;
    height: 80vh;
}

.pic_lazy{
    position:relative;
    @include opacity(0);
    @include transEaseInOutSine(all,0.8s);
    &.show{
        @include opacity(1);
        .loader{
            display: none;
        }
    }
    .l_inner{
        padding-top:10px;
    }
    .l_ttl{
        font-size:17px;
        padding-right:1em;
    }
    .l_subttl{
        padding-left:1em;
    }
    .l_subttl,.l_cap{
        font-size:12px;
        line-height:2;
        color: $gray;
    }
}
.cssfilters{
    .pic_lazy{
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        filter: blur(1px);
        &.show{
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            filter: blur(0px);
        }
    }
}
 .readmore{
    display: inline-block;
    font-size:12px;
    padding-bottom:2px;
    border-bottom:1px solid $black;
}
.box_qa{
    dt{
        padding-left:2em;
        font-size:14px;
        line-height:(27/14);
        position:relative;
        &:before{
            @extend %temp-after;
            width:22px;
            height: 1px;
            display: block;
            background-color:$gray;
            @include abs(auto,auto,50%,0);
        }
    }
    dd{

    }
}

.pager{
    padding-top:41px;
     width:$smallW;
     margin:0 auto;
    border-top:1px solid $gray;
    ul{
        display: table;
        width:100%
    }
    li{
        display: table-cell;
        width:33.3%;
        vertical-align: middle;
        text-align: center;
        a{
            display: block;
        }
        &.p_index{
            span{
                border-bottom: 1px solid $black;
                padding-bottom:3px;
            }
        }
        &.p_prev,
        &.p_next{
            p{
            font-size:15px;
            line-height:2;
        }
        span{
            font-size:12px;
            color: $gray;
        }
        }
        
    }
}

.table{
    @extend %addtbor;
    dl{
        display: table;
        width: 100%;
        @extend %addbbor;
        padding:((54px - 14*1.2)/2) 0;
        dt,dd{
            display: table-cell;
            vertical-align: middle;
            font-size:14px;
            line-height: (32 / 14);
        }
        dt{
            width: 240px;
        }
        dd{
            width: $kasouW - 240px;
        }
    }
}
.list{
    @extend %addtbor;
    &.list_link{
        li{
            padding:0;
            a{
                padding:29px - 14*0.7 0;
                display:block;
                background-color:#fff;
                @include transEase(background-color,0.5s);
                &:hover{
                    opacity:1;
                    background-color:rgba(214,214,214,0.2);
                }
            }
        }
    }
    li{
        @extend %addbbor;
         padding:29px - 14*0.7 0;
    }
}
.list_num{
    display: table;
    margin-top:27px - 14*0.9;
    &.nopad{
        span:first-child{
            padding-right:0;
            min-width:0;
        }
    }
    li{
        @extend .txt;
    }
    span{
        display: table-cell;
        vertical-align: top;
        &:first-child{
            padding-right:0.5em;
            min-width:1.7em;
        }
    }
}
.list_nav{
    text-align: center;
    li{
        @extend %addrbor;
        display: inline-block;
        padding-left:10px;
        &:first-child{
            padding-left:0;
            @extend %addlbor;
        }
        span{
            font-size:10px;
        }
    }
}
.list_devide{
    li{
        display: inline-block;
        padding:0 5px;
        line-height: 0;
        @extend %addlbor;
        &:first-child{
            padding-left:0;
            @extend %nolbor;
        }
        a{
             line-height: 1em;
            color:$gray_dark;
            text-decoration: underline;
        }
    }
}

.box_f{
    @extend .clearfix;
    overflow: hidden;
    .ua-sp &{
           li{
            width:100%;
            float:none;
            margin-bottom: 20px;
            &:first-child{
                margin-top:0;
            }
            &:nth-child(even){
                float: none;
            }
        }
    }//sp
    li{
        width:48%;
        float:left;
        &:nth-child(even){
            float: right;
        }

        dd{
            @extend %txt;
        }
    }
}

.ico_arr{
    position:relative;
    &:after{
        @extend %temp-after;
        @include abs(50%,0,auto,auto);
    }
}

/* =============================================
 @txt
============================================= */
.ttl{
    font-size:20px;
    line-height:(32/20);
    .ttl_sub{
        display: block;
        padding-top:2em;
        font-size:11px;
        line-height:(23/11);
        color:$gray;
    }
}
.ttl_k{
    // kasou ttl
    font-size:35px;
    line-height:1;
    padding:95px 0;
    text-align: center;
}
.ttl_k_sub{
    font-size:20px;
    line-height: 1.7;
    padding-bottom: 41px - 20*0.7;
}
.ttl_b{
    font-size:50px;
    text-align: center;
    margin-bottom: 30px;
    span{
        font-size:10px;
        display: block;
    }
}
.ttl_line{
    @extend %txt;
    @extend %addtbor;
    @extend %addbbor;
    text-align: center;
    padding:10px 0;
}
.ttl_b_sub{
    font-size: 20px;
    line-height: 2;
    padding-bottom:0.5em;
    @extend %addbbor;
    span{
        font-size: 10px;
    line-height: 2;
    display: inline-block;
    padding-left: 1em;
    }
}

.txt{
    font-size:14px;
    line-height: (27/14);
    a{
        color:$gray_dark;
        text-decoration: underline;
    }
}
.txt_b{
    font-size:24px;
    line-height:1;
    font-weight: bold;
    font-style:normal;
    padding-right:0.5em;
    letter-spacing: 0.16em;
}
%txt{
    font-size:14px;
    line-height: (27/14);
}
.link{
    color: $gray_dark;
    text-decoration: underline;
    font-size:14px;
    line-height:(27/14);
}
.error{
    height: 100vh;
    padding-bottom:0 !important;
    opacity:1 !important;
    .error_txt{
        padding-top:50vh;
       text-align: center;
        margin:0 auto;
    }   
}

.ico_arr{
}

.video_wrap{
    position:relative;
    cursor: pointer;
    &.first{
        height: 200px;
    }
    .video_cover{
        @include abs(0,auto,auto,0);
        width: 100%;
        height: 100%;
        opacity:1;

        @include transEase(opacity,0.5s);
        &.hide{
            opacity:0;
        }
    }
}

/* =============================================
 @modal
============================================= */

.modal_bg,
.modal_wrap{
    @include transEase(all,0.5s);
    @include opacity(0);
    @include fixed(0,auto,auto,0);
    z-index:-1;
    width:100%;
    height: 100%;
    height: 100vh;
    cursor: pointer;
    background-color: rgba(0,0,0,0.65);
}

body.modal_show{
    overflow:hidden;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    @include media(tb){
         height: auto;
    }
    .modal_bg{
        @include opacity(1);
        z-index:999999 + 1;
        width:100%;
        height: 100%;
        cursor: pointer;
    }
    
}
.modal_wrap{
    &.show{
        @include opacity(1);
        -webkit-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        z-index: 999999 + 1;
    }
    @include opacity(0);
    -moz-transform:translate3d(0,30px,0);
    transform:translate3d(0,30px,0);
    transform:translate3d(0,30px,0);
    width: 510px;
    height: 242px;
    background-color:#fff;
    @include fixed(50%,auto,auto,50%);
    margin:-121px 0 0 -255px;
    z-index:-1;
    text-align: center;
    @include media(tb) {
        width: 88%;
        height: 280px;
        margin: 0;
        left: 6%;
        margin-top: -100px;
    }
    @include media(sp){
        height: 269px;
    }

    .modal{
        width: 100%;
        height: 100%;
        }
    }

/* =============================================
 @accordion
============================================= */
.accordion{
    
}

.accordion_sp{
        .ua-sp &{
            text-align: left;
            position:relative;
            border-top:none;
            & + ul{
                height: 0;
                @include transEase(height,0.5s);
                overflow: hidden;
            }
            &:before,&:after{
                @extend %temp-after;
                @include transEase(all,0.5s);
                @include abs(50%,7px,auto,auto);
                background-color:#6d6d6d;
                width: 2px;
                height: 12px;
                margin-top: -6px;
                margin-right: 5px;
            }
            &:after{
                width: 12px;
                height: 2px;
                margin-top: -1px;
                margin-right: 0;
            }
            &.show{
                &:before,&:after{
                     transform: rotate(135deg);
                }
            }
        }
}