@charset "utf-8";
/* =============================================
 @header
============================================= */
header {
    min-width: 1200px;
    width: 100%;
    @include fixed(0,auto,auto,0);
    z-index: 9999;
    background-color: transparent;
}


/* =============================================
 @btn
============================================= */
.btn_scroll{

}

/**
 * @home
 * -----------------------------------------------------------------------------
 */
// #canvas{
//     margin-top: -73px;
// }
/**
 * @Inspiration
 * -----------------------------------------------------------------------------
 */
