
// -----------------------------------------
// var
// -----------------------------------------
$black:#080808;
$gray:#b3b3b3;
$gray_dark:#6e6e6e;
$contentsW:1200px;
$smallW:968px;
$kasouW : 790px;
$wideW:1200px;

$contentsW_sp:100%;
$kasouW_sp : 70%;
$wideW_sp:90%;
$smallW_sp:80%;
