
// -----------------------------------------
// var
// -----------------------------------------
$black:#080808;
$white:#ffffff;
$vollkorn:'Vollkorn',Helvetica, sans-serif;
$opensans:'Open Sans', sans-serif;
