html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background-color: transparent;
}

body
{
    line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section
{
    display: block;
}

ul,
ol
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

a
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    background: transparent;
}

ins
{
    text-decoration: none;

    color: #000;
    background-color: #ff9;
}

mark
{
    font-weight: bold;
    font-style: italic;

    color: #000;
    background-color: #ff9;
}

del
{
    text-decoration: line-through;
}

abbr[title],
dfn[title]
{
    cursor: help;

    border-bottom: 1px dotted #000;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

input,
select
{
    vertical-align: middle;
}

img
{
    vertical-align: bottom;
}

iframe[name='google_conversion_frame']
{
    font-size: 0 !important;
    line-height: 0 !important;

    width: 0 !important;
    height: 0 !important;
    margin-top: -13px;
}

.show_pc
{
    display: block !important;
}

.show_pctb
{
    display: block !important;
}

.ua-sp .show_pctb
{
    display: none !important;
}

.ua-sp .show_sp
{
    display: block !important;
}

.show_sp
{
    display: none !important;
}

.mt0
{
    margin-top: 0 !important;
}

.mb0
{
    margin-bottom: 0 !important;
}

.mb5
{
    margin-bottom: 5px;
}

.mb10
{
    margin-bottom: 10px;
}

.mb11
{
    margin-bottom: 11px;
}

.mb14
{
    margin-bottom: 14px;
}

.mb15
{
    margin-bottom: 15px;
}

.mb20
{
    margin-bottom: 20px;
}

.mb25
{
    margin-bottom: 25px;
}

.mb30
{
    margin-bottom: 30px;
}

.mb35
{
    margin-bottom: 35px;
}

.mb40
{
    margin-bottom: 40px;
}

.mb45
{
    margin-bottom: 45px;
}

.mb50
{
    margin-bottom: 50px;
}

.mb55
{
    margin-bottom: 55px;
}

.mb60
{
    margin-bottom: 60px;
}

.mb65
{
    margin-bottom: 65px;
}

.mb70
{
    margin-bottom: 70px;
}

.mb75
{
    margin-bottom: 75px;
}

.mb80
{
    margin-bottom: 80px;
}

.mb81
{
    margin-bottom: 81px;
}

.mb85
{
    margin-bottom: 85px;
}

.mb90
{
    margin-bottom: 90px;
}

.mb95
{
    margin-bottom: 95px;
}

.mb100
{
    margin-bottom: 100px;
}

.mr5
{
    margin-right: 5px;
}

.mr9
{
    margin-right: 9px;
}

.mr10
{
    margin-right: 10px;
}

.mr15
{
    margin-right: 15px;
}

.mr20
{
    margin-right: 20px;
}

.mr25
{
    margin-right: 25px;
}

.mr30
{
    margin-right: 30px;
}

.mr35
{
    margin-right: 35px;
}

.mr40
{
    margin-right: 40px;
}

.mr45
{
    margin-right: 45px;
}

.mr50
{
    margin-right: 50px;
}

.ml5
{
    margin-left: 5px;
}

.ml10
{
    margin-left: 10px;
}

.ml15
{
    margin-left: 15px;
}

.ml20
{
    margin-left: 20px;
}

.ml25
{
    margin-left: 25px;
}

.ml30
{
    margin-left: 30px;
}

.ml35
{
    margin-left: 35px;
}

.ml40
{
    margin-left: 40px;
}

.ml45
{
    margin-left: 45px;
}

.ml50
{
    margin-left: 50px;
}

.pt0
{
    padding-top: 0 !important;
}

.pt5
{
    padding-top: 5px;
}

.pt10
{
    padding-top: 10px;
}

.pt15
{
    padding-top: 15px;
}

.pt20
{
    padding-top: 20px;
}

.pt25
{
    padding-top: 25px;
}

.pt30
{
    padding-top: 30px;
}

.pt35
{
    padding-top: 35px;
}

.mb_m
{
    margin-bottom: 68.4px;
}

.mb_l
{
    margin-bottom: 82.4px;
}

.mb0_sp
{
    margin-bottom: 0 !important;
}

.mb1_sp
{
    margin-bottom: 5px !important;
}

.mb2_sp
{
    margin-bottom: 10px !important;
}

.mb3_sp
{
    margin-bottom: 15px !important;
}

.mb4_sp
{
    margin-bottom: 20px !important;
}

.mb5_sp
{
    margin-bottom: 25px !important;
}

.mb6_sp
{
    margin-bottom: 30px !important;
}

.mb7_sp
{
    margin-bottom: 35px !important;
}

.mb8_sp
{
    margin-bottom: 40px !important;
}

.mb9_sp
{
    margin-bottom: 45px !important;
}

.mb10_sp
{
    margin-bottom: 50px !important;
}

.mb11_sp
{
    margin-bottom: 55px !important;
}

.mb12_sp
{
    margin-bottom: 60px !important;
}

.mb13_sp
{
    margin-bottom: 65px !important;
}

.mb14_sp
{
    margin-bottom: 70px !important;
}

.mb15_sp
{
    margin-bottom: 75px !important;
}

.mb16_sp
{
    margin-bottom: 80px !important;
}

.mb17_sp
{
    margin-bottom: 85px !important;
}

.mb18_sp
{
    margin-bottom: 90px !important;
}

.mb19_sp
{
    margin-bottom: 95px !important;
}

.mb20_sp
{
    margin-bottom: 100px !important;
}

.op a img,
.op2
{
    -webkit-transition: opacity .5s;
       -moz-transition: opacity .5s;
         -o-transition: opacity .5s;
            transition: opacity .5s;
}

.op a img:hover,
.op2:hover
{
         opacity: .7;

    -moz-opacity: .7;
        filter: alpha(opacity=70);
    -ms-filter: 'alpha(opacity=70)';
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.tar
{
    text-align: right;
}

.tac
{
    text-align: center;
}

.flL
{
    float: left;
}

.flR
{
    float: right;
}

.l-center
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}

.clearfix:after,
.row:after,
.box_f:after,
header .h_wrap:after,
footer .footer_wrap:after,
.page-home #article:after
{
    font-size: 0;
    line-height: 0;

    display: block;
    clear: both;
    overflow: hidden;

    height: 0;

    content: '.';
}

.clearfix,
.row,
.box_f,
header .h_wrap,
footer .footer_wrap,
.page-home #article
{
    min-height: 1px;

    _height: 1px;
}

.row
{
    overflow: hidden;

    width: 100%;
    padding: 0 1%;
}

.col-md-1
{
    float: left;

    width: 6.25%;
}

.col-md-1.col-padl
{
    padding-left: 1%;
}

.col-offset-1
{
    margin-left: 6.25%;
}

.col-offsetl-1
{
    margin-left: 6.25%;
}

.col-offsetr-1
{
    margin-right: 6.25%;
}

.col-push-1
{
    left: 6.25%;
}

.col-pull-1
{
    right: 6.25%;
}

.col-md-2
{
    float: left;

    width: 12.5%;
}

.col-md-2.col-padl
{
    padding-left: .5%;
}

.col-offset-2
{
    margin-left: 12.5%;
}

.col-offsetl-2
{
    margin-left: 12.5%;
}

.col-offsetr-2
{
    margin-right: 12.5%;
}

.col-push-2
{
    left: 12.5%;
}

.col-pull-2
{
    right: 12.5%;
}

.col-md-3
{
    float: left;

    width: 18.75%;
}

.col-md-3.col-padl
{
    padding-left: .33333%;
}

.col-offset-3
{
    margin-left: 18.75%;
}

.col-offsetl-3
{
    margin-left: 18.75%;
}

.col-offsetr-3
{
    margin-right: 18.75%;
}

.col-push-3
{
    left: 18.75%;
}

.col-pull-3
{
    right: 18.75%;
}

.col-md-4
{
    float: left;

    width: 25%;
}

.col-md-4.col-padl
{
    padding-left: .25%;
}

.col-offset-4
{
    margin-left: 25%;
}

.col-offsetl-4
{
    margin-left: 25%;
}

.col-offsetr-4
{
    margin-right: 25%;
}

.col-push-4
{
    left: 25%;
}

.col-pull-4
{
    right: 25%;
}

.col-md-5
{
    float: left;

    width: 31.25%;
}

.col-md-5.col-padl
{
    padding-left: .2%;
}

.col-offset-5
{
    margin-left: 31.25%;
}

.col-offsetl-5
{
    margin-left: 31.25%;
}

.col-offsetr-5
{
    margin-right: 31.25%;
}

.col-push-5
{
    left: 31.25%;
}

.col-pull-5
{
    right: 31.25%;
}

.col-md-6
{
    float: left;

    width: 37.5%;
}

.col-md-6.col-padl
{
    padding-left: .16667%;
}

.col-offset-6
{
    margin-left: 37.5%;
}

.col-offsetl-6
{
    margin-left: 37.5%;
}

.col-offsetr-6
{
    margin-right: 37.5%;
}

.col-push-6
{
    left: 37.5%;
}

.col-pull-6
{
    right: 37.5%;
}

.col-md-7
{
    float: left;

    width: 43.75%;
}

.col-md-7.col-padl
{
    padding-left: .14286%;
}

.col-offset-7
{
    margin-left: 43.75%;
}

.col-offsetl-7
{
    margin-left: 43.75%;
}

.col-offsetr-7
{
    margin-right: 43.75%;
}

.col-push-7
{
    left: 43.75%;
}

.col-pull-7
{
    right: 43.75%;
}

.col-md-8
{
    float: left;

    width: 50%;
}

.col-md-8.col-padl
{
    padding-left: .125%;
}

.col-offset-8
{
    margin-left: 50%;
}

.col-offsetl-8
{
    margin-left: 50%;
}

.col-offsetr-8
{
    margin-right: 50%;
}

.col-push-8
{
    left: 50%;
}

.col-pull-8
{
    right: 50%;
}

.col-md-9
{
    float: left;

    width: 56.25%;
}

.col-md-9.col-padl
{
    padding-left: .11111%;
}

.col-offset-9
{
    margin-left: 56.25%;
}

.col-offsetl-9
{
    margin-left: 56.25%;
}

.col-offsetr-9
{
    margin-right: 56.25%;
}

.col-push-9
{
    left: 56.25%;
}

.col-pull-9
{
    right: 56.25%;
}

.col-md-10
{
    float: left;

    width: 62.5%;
}

.col-md-10.col-padl
{
    padding-left: .1%;
}

.col-offset-10
{
    margin-left: 62.5%;
}

.col-offsetl-10
{
    margin-left: 62.5%;
}

.col-offsetr-10
{
    margin-right: 62.5%;
}

.col-push-10
{
    left: 62.5%;
}

.col-pull-10
{
    right: 62.5%;
}

.col-md-11
{
    float: left;

    width: 68.75%;
}

.col-md-11.col-padl
{
    padding-left: .09091%;
}

.col-offset-11
{
    margin-left: 68.75%;
}

.col-offsetl-11
{
    margin-left: 68.75%;
}

.col-offsetr-11
{
    margin-right: 68.75%;
}

.col-push-11
{
    left: 68.75%;
}

.col-pull-11
{
    right: 68.75%;
}

.col-md-12
{
    float: left;

    width: 75%;
}

.col-md-12.col-padl
{
    padding-left: .08333%;
}

.col-offset-12
{
    margin-left: 75%;
}

.col-offsetl-12
{
    margin-left: 75%;
}

.col-offsetr-12
{
    margin-right: 75%;
}

.col-push-12
{
    left: 75%;
}

.col-pull-12
{
    right: 75%;
}

.col-md-13
{
    float: left;

    width: 81.25%;
}

.col-md-13.col-padl
{
    padding-left: .07692%;
}

.col-offset-13
{
    margin-left: 81.25%;
}

.col-offsetl-13
{
    margin-left: 81.25%;
}

.col-offsetr-13
{
    margin-right: 81.25%;
}

.col-push-13
{
    left: 81.25%;
}

.col-pull-13
{
    right: 81.25%;
}

.col-md-14
{
    float: left;

    width: 87.5%;
}

.col-md-14.col-padl
{
    padding-left: .07143%;
}

.col-offset-14
{
    margin-left: 87.5%;
}

.col-offsetl-14
{
    margin-left: 87.5%;
}

.col-offsetr-14
{
    margin-right: 87.5%;
}

.col-push-14
{
    left: 87.5%;
}

.col-pull-14
{
    right: 87.5%;
}

.col-md-15
{
    float: left;

    width: 93.75%;
}

.col-md-15.col-padl
{
    padding-left: .06667%;
}

.col-offset-15
{
    margin-left: 93.75%;
}

.col-offsetl-15
{
    margin-left: 93.75%;
}

.col-offsetr-15
{
    margin-right: 93.75%;
}

.col-push-15
{
    left: 93.75%;
}

.col-pull-15
{
    right: 93.75%;
}

.col-md-16
{
    float: left;

    width: 100%;
}

.col-md-16.col-padl
{
    padding-left: .0625%;
}

.col-offset-16
{
    margin-left: 100%;
}

.col-offsetl-16
{
    margin-left: 100%;
}

.col-offsetr-16
{
    margin-right: 100%;
}

.col-push-16
{
    left: 100%;
}

.col-pull-16
{
    right: 100%;
}

.ua-sp .col-md-1-sp
{
    float: left;

    width: 6.25%;
}

.ua-sp .col-md-1-sp.col-padl-sp
{
    padding-left: 1%;
}

.ua-sp .col-offset-1-sp
{
    margin-left: 6.25%;
}

.ua-sp .col-offsetl-1-sp
{
    margin-left: 6.25%;
}

.ua-sp .col-offsetr-1-sp
{
    margin-right: 6.25%;
}

.ua-sp .col-push-1-sp
{
    left: 6.25%;
}

.ua-sp .col-pull-1-sp
{
    right: 6.25%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-2-sp
{
    float: left;

    width: 12.5%;
}

.ua-sp .col-md-2-sp.col-padl-sp
{
    padding-left: .5%;
}

.ua-sp .col-offset-2-sp
{
    margin-left: 12.5%;
}

.ua-sp .col-offsetl-2-sp
{
    margin-left: 12.5%;
}

.ua-sp .col-offsetr-2-sp
{
    margin-right: 12.5%;
}

.ua-sp .col-push-2-sp
{
    left: 12.5%;
}

.ua-sp .col-pull-2-sp
{
    right: 12.5%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-3-sp
{
    float: left;

    width: 18.75%;
}

.ua-sp .col-md-3-sp.col-padl-sp
{
    padding-left: .33333%;
}

.ua-sp .col-offset-3-sp
{
    margin-left: 18.75%;
}

.ua-sp .col-offsetl-3-sp
{
    margin-left: 18.75%;
}

.ua-sp .col-offsetr-3-sp
{
    margin-right: 18.75%;
}

.ua-sp .col-push-3-sp
{
    left: 18.75%;
}

.ua-sp .col-pull-3-sp
{
    right: 18.75%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-4-sp
{
    float: left;

    width: 25%;
}

.ua-sp .col-md-4-sp.col-padl-sp
{
    padding-left: .25%;
}

.ua-sp .col-offset-4-sp
{
    margin-left: 25%;
}

.ua-sp .col-offsetl-4-sp
{
    margin-left: 25%;
}

.ua-sp .col-offsetr-4-sp
{
    margin-right: 25%;
}

.ua-sp .col-push-4-sp
{
    left: 25%;
}

.ua-sp .col-pull-4-sp
{
    right: 25%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-5-sp
{
    float: left;

    width: 31.25%;
}

.ua-sp .col-md-5-sp.col-padl-sp
{
    padding-left: .2%;
}

.ua-sp .col-offset-5-sp
{
    margin-left: 31.25%;
}

.ua-sp .col-offsetl-5-sp
{
    margin-left: 31.25%;
}

.ua-sp .col-offsetr-5-sp
{
    margin-right: 31.25%;
}

.ua-sp .col-push-5-sp
{
    left: 31.25%;
}

.ua-sp .col-pull-5-sp
{
    right: 31.25%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-6-sp
{
    float: left;

    width: 37.5%;
}

.ua-sp .col-md-6-sp.col-padl-sp
{
    padding-left: .16667%;
}

.ua-sp .col-offset-6-sp
{
    margin-left: 37.5%;
}

.ua-sp .col-offsetl-6-sp
{
    margin-left: 37.5%;
}

.ua-sp .col-offsetr-6-sp
{
    margin-right: 37.5%;
}

.ua-sp .col-push-6-sp
{
    left: 37.5%;
}

.ua-sp .col-pull-6-sp
{
    right: 37.5%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-7-sp
{
    float: left;

    width: 43.75%;
}

.ua-sp .col-md-7-sp.col-padl-sp
{
    padding-left: .14286%;
}

.ua-sp .col-offset-7-sp
{
    margin-left: 43.75%;
}

.ua-sp .col-offsetl-7-sp
{
    margin-left: 43.75%;
}

.ua-sp .col-offsetr-7-sp
{
    margin-right: 43.75%;
}

.ua-sp .col-push-7-sp
{
    left: 43.75%;
}

.ua-sp .col-pull-7-sp
{
    right: 43.75%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-8-sp
{
    float: left;

    width: 50%;
}

.ua-sp .col-md-8-sp.col-padl-sp
{
    padding-left: .125%;
}

.ua-sp .col-offset-8-sp
{
    margin-left: 50%;
}

.ua-sp .col-offsetl-8-sp
{
    margin-left: 50%;
}

.ua-sp .col-offsetr-8-sp
{
    margin-right: 50%;
}

.ua-sp .col-push-8-sp
{
    left: 50%;
}

.ua-sp .col-pull-8-sp
{
    right: 50%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-9-sp
{
    float: left;

    width: 56.25%;
}

.ua-sp .col-md-9-sp.col-padl-sp
{
    padding-left: .11111%;
}

.ua-sp .col-offset-9-sp
{
    margin-left: 56.25%;
}

.ua-sp .col-offsetl-9-sp
{
    margin-left: 56.25%;
}

.ua-sp .col-offsetr-9-sp
{
    margin-right: 56.25%;
}

.ua-sp .col-push-9-sp
{
    left: 56.25%;
}

.ua-sp .col-pull-9-sp
{
    right: 56.25%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-10-sp
{
    float: left;

    width: 62.5%;
}

.ua-sp .col-md-10-sp.col-padl-sp
{
    padding-left: .1%;
}

.ua-sp .col-offset-10-sp
{
    margin-left: 62.5%;
}

.ua-sp .col-offsetl-10-sp
{
    margin-left: 62.5%;
}

.ua-sp .col-offsetr-10-sp
{
    margin-right: 62.5%;
}

.ua-sp .col-push-10-sp
{
    left: 62.5%;
}

.ua-sp .col-pull-10-sp
{
    right: 62.5%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-11-sp
{
    float: left;

    width: 68.75%;
}

.ua-sp .col-md-11-sp.col-padl-sp
{
    padding-left: .09091%;
}

.ua-sp .col-offset-11-sp
{
    margin-left: 68.75%;
}

.ua-sp .col-offsetl-11-sp
{
    margin-left: 68.75%;
}

.ua-sp .col-offsetr-11-sp
{
    margin-right: 68.75%;
}

.ua-sp .col-push-11-sp
{
    left: 68.75%;
}

.ua-sp .col-pull-11-sp
{
    right: 68.75%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-12-sp
{
    float: left;

    width: 75%;
}

.ua-sp .col-md-12-sp.col-padl-sp
{
    padding-left: .08333%;
}

.ua-sp .col-offset-12-sp
{
    margin-left: 75%;
}

.ua-sp .col-offsetl-12-sp
{
    margin-left: 75%;
}

.ua-sp .col-offsetr-12-sp
{
    margin-right: 75%;
}

.ua-sp .col-push-12-sp
{
    left: 75%;
}

.ua-sp .col-pull-12-sp
{
    right: 75%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-13-sp
{
    float: left;

    width: 81.25%;
}

.ua-sp .col-md-13-sp.col-padl-sp
{
    padding-left: .07692%;
}

.ua-sp .col-offset-13-sp
{
    margin-left: 81.25%;
}

.ua-sp .col-offsetl-13-sp
{
    margin-left: 81.25%;
}

.ua-sp .col-offsetr-13-sp
{
    margin-right: 81.25%;
}

.ua-sp .col-push-13-sp
{
    left: 81.25%;
}

.ua-sp .col-pull-13-sp
{
    right: 81.25%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-14-sp
{
    float: left;

    width: 87.5%;
}

.ua-sp .col-md-14-sp.col-padl-sp
{
    padding-left: .07143%;
}

.ua-sp .col-offset-14-sp
{
    margin-left: 87.5%;
}

.ua-sp .col-offsetl-14-sp
{
    margin-left: 87.5%;
}

.ua-sp .col-offsetr-14-sp
{
    margin-right: 87.5%;
}

.ua-sp .col-push-14-sp
{
    left: 87.5%;
}

.ua-sp .col-pull-14-sp
{
    right: 87.5%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-15-sp
{
    float: left;

    width: 93.75%;
}

.ua-sp .col-md-15-sp.col-padl-sp
{
    padding-left: .06667%;
}

.ua-sp .col-offset-15-sp
{
    margin-left: 93.75%;
}

.ua-sp .col-offsetl-15-sp
{
    margin-left: 93.75%;
}

.ua-sp .col-offsetr-15-sp
{
    margin-right: 93.75%;
}

.ua-sp .col-push-15-sp
{
    left: 93.75%;
}

.ua-sp .col-pull-15-sp
{
    right: 93.75%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.ua-sp .col-md-16-sp
{
    float: left;

    width: 100%;
}

.ua-sp .col-md-16-sp.col-padl-sp
{
    padding-left: .0625%;
}

.ua-sp .col-offset-16-sp
{
    margin-left: 100%;
}

.ua-sp .col-offsetl-16-sp
{
    margin-left: 100%;
}

.ua-sp .col-offsetr-16-sp
{
    margin-right: 100%;
}

.ua-sp .col-push-16-sp
{
    left: 100%;
}

.ua-sp .col-pull-16-sp
{
    right: 100%;
}

.ua-sp .nocol-sp
{
    width: 100%;
    margin: 0;
}

.box_qa dt:before,
.ico_arr:after,
.ua-sp .accordion_sp:before,
.ua-sp .accordion_sp:after,
.h_wrap .h_inner li a:before,
.h_wrap .h_inner li a:after
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    content: '';
}

.slider li .slider_txt
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}

.list_devide li:first-child
{
    border-left: none !important;
}

.notbor
{
    border-top: none !important;
}

.norbor
{
    border-right: none !important;
}

.nolbor
{
    border-left: none !important;
}

.nobbor
{
    border-bottom: none !important;
}

.addbbor
{
    border-bottom: 1px solid #ececec;
}

.addrbor
{
    border-right: 1px solid #ececec;
}

.addlbor
{
    border-left: 1px solid #ececec;
}

.addtbor
{
    border-top: 1px solid #ececec;
}

.ua-sp .addbbor_sp
{
    border-bottom: 1px solid #ececec !important;
}

.ua-sp .addrbor_sp
{
    border-right: 1px solid #ececec !important;
}

.ua-sp .addlbor_sp
{
    border-left: 1px solid #ececec !important;
}

.ua-sp .addtbor_sp
{
    border-top: 1px solid #ececec !important;
}

.table dl,
.list li,
.ttl_line,
.ttl_b_sub
{
    border-bottom: 1px solid #ececec;
}

.list_nav li
{
    border-right: 1px solid #ececec;
}

.list_nav li:first-child,
.list_devide li
{
    border-left: 1px solid #ececec;
}

.table,
.list,
.ttl_line
{
    border-top: 1px solid #ececec;
}

.box-block
{
    display: block;

    width: 100%;
    margin: 0 auto;
}

.box-table
{
    display: table;

    width: 100%;
    margin: 0 auto;
}

.circle-red
{
    display: inline-block;

    width: 4px;
    height: 4px;

    border-radius: 2px;
    background-color: #c84e57;
}

.text-overflow
{
    display: block;
    overflow: hidden;

    width: 100%;

    white-space: nowrap;
            text-overflow: ellipsis;

    -webkit-text-overflow: ellipsis;
}

.slider .slider_pic
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

*
{
    box-sizing: border-box;

    -webtki-box-sizing: border-box;
}

::-moz-selection
{
    background: rgba(214,214,214,.2);
}

::selection
{
    background: rgba(214,214,214,.2);
}

::-moz-selection
{
    background: rgba(214,214,214,.2);
}

body,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input,
textarea,
option,
div,
p,
dt,
dd,
li,
address,
a
{
    font-family: Helvetica,san-serif;
    font-weight: normal;
    font-style: normal;

    letter-spacing: .03em;
    word-break: break-all;

    color: #080808;
}

.ua-windows th,
.ua-windows td,
.ua-windows h1,
.ua-windows h2,
.ua-windows h3,
.ua-windows h4,
.ua-windows h5,
.ua-windows h6,
.ua-windows pre,
.ua-windows input,
.ua-windows textarea,
.ua-windows option,
.ua-windows div,
.ua-windows p,
.ua-windows dt,
.ua-windows dd,
.ua-windows li,
.ua-windows address,
.ua-windows a
{
    font-weight: 500;
}

html,
body
{
    overflow-x: hidden;

    width: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body
{
    transition: opacity .8s cubic-bezier(.25, .1, .25, 1);

    background-color: #fff;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body.load
{
    opacity: 1;
}

a
{
    cursor: pointer;
    transition: opacity .8s cubic-bezier(.25, .1, .25, 1);
    text-decoration: none;

    opacity: 1;
    outline: none;
}

a:hover
{
    opacity: .5;
}

#wrapAll
{
    position: relative;

    overflow: hidden;

    width: 100%;
    min-height: 100vh;
}

.contents
{
    width: 100%;
}

.no-csstransitions .contents
{
    height: auto;
}

.contents_wrap
{
    zoom: 1;

    width: 100%;
    padding-bottom: 284px;

    transition: opacity 1s cubic-bezier(.25, .1, .25, 1);

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

.article_wrap
{
    width: 790px;
    margin: 0 auto;
}

.article_lead
{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.article_lead figure
{
    clear: both;

    padding-top: 50px;
}

.article_inner
{
    margin-bottom: 100px;
}

.article_inner figure
{
    margin-top: 50px;
}

.scroll_contens
{
    position: fixed;

    overflow: hidden;

    width: 100%;
    margin: 0 auto;

    transition: top .7s cubic-bezier(.25, .1, .25, 1);
}

.scroll_container
{
    width: 100%;
    height: 8712px;
    margin: 0 auto;
}

.scroll-container-fixed
{
    position: relative;

    overflow: hidden;

    transition: transform .5s cubic-bezier(.25, .1, .25, 1);
}

#progressbar
{
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    width: 0;
    height: 5px;

    background-color: blue;
}

.trans_init
{
    zoom: 1;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.trans-fadein
{
    zoom: 1;

    transform: translate3d(0, -20px, 0);

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

.trans-fadein.active
{
    zoom: 1;

    transform: translate3d(0, 0, 0);

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.trans_fadein
{
    zoom: 1;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.trans_fadeout
{
    zoom: 1;

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

.page
{
    margin-top: 134px;
}

.slider .slider_pic
{
    height: 100%;
}

.slider .slider_txt
{
    position: absolute;
    z-index: 99;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    display: table;

    width: 100%;
    height: 100%;

    text-align: center;
}

.slider .slider_txt .slider_txt_wrap
{
    display: table-cell;

    vertical-align: middle;

    color: #333;
}

.slider .slider_txt .slider_txt_wrap .slider_ttl
{
    font-size: 58px;
}

.slider .slider_txt .slider_txt_wrap .slider_sub
{
    font-size: 10px;
}

.btn_scroll
{
    position: absolute;
    top: auto;
    right: auto;
    bottom: 30px;
    left: 50%;
}

.slider
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100vh;
}

.slider li
{
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    zoom: 1;

    width: 100%;
    height: 100%;

    transition: opacity 2s cubic-bezier(.25, .1, .25, 1);

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

.slider li.init
{
    zoom: 1;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.slider li.hide
{
    zoom: 1;

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

.slider li.active
{
    zoom: 1;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.lazy
{
    zoom: 1;

    transform: translate3d(0, -20px, 0);

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

.lazy.active
{
    zoom: 1;

    transform: translate3d(0, 0, 0);

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.fadein_txt span
{
    display: inline-block;

    transition: opacity .5s ease-out, transform .5s ease-out;
}

.fadein_txt span.show
{
    transform: scale(1, 1);
}

.loader
{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;

    display: inline-block;

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;

    -webkit-transition: opacity .5s;
       -moz-transition: opacity .5s;
         -o-transition: opacity .5s;
            transition: opacity .5s;
    animation: spin .7s linear infinite;

    border: 1px solid transparent;
    border-top-color: #282828;
    border-bottom-color: #282828;
    border-left-color: #282828;
    border-radius: 50px;
}

.loader.hide
{
    opacity: 0;
}

.load_box
{
    position: relative;

    overflow: hidden;

    height: 60px;
}

.ua-ie8 .h_fullscreen,
.ua-ie8 .h_flex
{
    background-image: none !important;
}

.ua-ie8 .h_fullscreen img,
.ua-ie8 .h_flex img
{
    display: block !important;

    width: 100%;
    height: auto;
}

.h_fullscreen,
.h_flex
{
    background-position: top center;
    background-size: cover;
}

.h_fullscreen img,
.h_flex img
{
    display: none;
}

.h_fullscreen
{
    width: 100%;
    height: 100%;
    height: 100vh;
}

.h_flex
{
    height: 800px;
    height: 80vh;
}

.pic_lazy
{
    position: relative;

    zoom: 1;

    transition: all .8s cubic-bezier(.445, .05, .55, .95);

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

.pic_lazy.show
{
    zoom: 1;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.pic_lazy.show .loader
{
    display: none;
}

.pic_lazy .l_inner
{
    padding-top: 10px;
}

.pic_lazy .l_ttl
{
    font-size: 17px;

    padding-right: 1em;
}

.pic_lazy .l_subttl
{
    padding-left: 1em;
}

.pic_lazy .l_subttl,
.pic_lazy .l_cap
{
    font-size: 12px;
    line-height: 2;

    color: #b3b3b3;
}

.cssfilters .pic_lazy
{
    -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
            filter: blur(1px);
}

.cssfilters .pic_lazy.show
{
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
            filter: blur(0px);
}

.readmore
{
    font-size: 12px;

    display: inline-block;

    padding-bottom: 2px;

    border-bottom: 1px solid #080808;
}

.box_qa dt
{
    font-size: 14px;
    line-height: 1.92857;

    position: relative;

    padding-left: 2em;
}

.box_qa dt:before
{
    position: absolute;
    top: auto;
    right: auto;
    bottom: 50%;
    left: 0;

    display: block;

    width: 22px;
    height: 1px;

    background-color: #b3b3b3;
}

.pager
{
    width: 968px;
    margin: 0 auto;
    padding-top: 41px;

    border-top: 1px solid #b3b3b3;
}

.pager ul
{
    display: table;

    width: 100%;
}

.pager li
{
    display: table-cell;

    width: 33.3%;

    text-align: center;
    vertical-align: middle;
}

.pager li a
{
    display: block;
}

.pager li.p_index span
{
    padding-bottom: 3px;

    border-bottom: 1px solid #080808;
}

.pager li.p_prev p,
.pager li.p_next p
{
    font-size: 15px;
    line-height: 2;
}

.pager li.p_prev span,
.pager li.p_next span
{
    font-size: 12px;

    color: #b3b3b3;
}

.table dl
{
    display: table;

    width: 100%;
    padding: 18.6px 0;
}

.table dl dt,
.table dl dd
{
    font-size: 14px;
    line-height: 2.28571;

    display: table-cell;

    vertical-align: middle;
}

.table dl dt
{
    width: 240px;
}

.table dl dd
{
    width: 550px;
}

.list.list_link li
{
    padding: 0;
}

.list.list_link li a
{
    display: block;

    padding: 19.2px 0;

    transition: background-color .5s cubic-bezier(.25, .1, .25, 1);

    background-color: #fff;
}

.list.list_link li a:hover
{
    opacity: 1;
    background-color: rgba(214,214,214,.2);
}

.list li
{
    padding: 19.2px 0;
}

.list_num
{
    display: table;

    margin-top: 14.4px;
}

.list_num.nopad span:first-child
{
    min-width: 0;
    padding-right: 0;
}

.list_num span
{
    display: table-cell;

    vertical-align: top;
}

.list_num span:first-child
{
    min-width: 1.7em;
    padding-right: .5em;
}

.list_nav
{
    text-align: center;
}

.list_nav li
{
    display: inline-block;

    padding-left: 10px;
}

.list_nav li:first-child
{
    padding-left: 0;
}

.list_nav li span
{
    font-size: 10px;
}

.list_devide li
{
    line-height: 0;

    display: inline-block;

    padding: 0 5px;
}

.list_devide li:first-child
{
    padding-left: 0;
}

.list_devide li a
{
    line-height: 1em;

    text-decoration: underline;

    color: #6e6e6e;
}

.box_f
{
    overflow: hidden;
}

.ua-sp .box_f li
{
    float: none;

    width: 100%;
    margin-bottom: 20px;
}

.ua-sp .box_f li:first-child
{
    margin-top: 0;
}

.ua-sp .box_f li:nth-child(even)
{
    float: none;
}

.box_f li
{
    float: left;

    width: 48%;
}

.box_f li:nth-child(even)
{
    float: right;
}

.ico_arr
{
    position: relative;
}

.ico_arr:after
{
    position: absolute;
    top: 50%;
    right: 0;
    bottom: auto;
    left: auto;
}

.ttl
{
    font-size: 20px;
    line-height: 1.6;
}

.ttl .ttl_sub
{
    font-size: 11px;
    line-height: 2.09091;

    display: block;

    padding-top: 2em;

    color: #b3b3b3;
}

.ttl_k
{
    font-size: 35px;
    line-height: 1;

    padding: 95px 0;

    text-align: center;
}

.ttl_k_sub
{
    font-size: 20px;
    line-height: 1.7;

    padding-bottom: 27px;
}

.ttl_b
{
    font-size: 50px;

    margin-bottom: 30px;

    text-align: center;
}

.ttl_b span
{
    font-size: 10px;

    display: block;
}

.ttl_line
{
    padding: 10px 0;

    text-align: center;
}

.ttl_b_sub
{
    font-size: 20px;
    line-height: 2;

    padding-bottom: .5em;
}

.ttl_b_sub span
{
    font-size: 10px;
    line-height: 2;

    display: inline-block;

    padding-left: 1em;
}

.txt,
.list_num li
{
    font-size: 14px;
    line-height: 1.92857;
}

.txt a,
.list_num li a
{
    text-decoration: underline;

    color: #6e6e6e;
}

.txt_b
{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 1;

    padding-right: .5em;

    letter-spacing: .16em;
}

body,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input,
textarea,
option,
div,
p,
dt,
dd,
li,
address,
a,
.box_f li dd,
.ttl_line
{
    font-size: 14px;
    line-height: 1.92857;
}

.link
{
    font-size: 14px;
    line-height: 1.92857;

    text-decoration: underline;

    color: #6e6e6e;
}

.error
{
    height: 100vh;
    padding-bottom: 0 !important;

    opacity: 1 !important;
}

.error .error_txt
{
    margin: 0 auto;
    padding-top: 50vh;

    text-align: center;
}

.video_wrap
{
    position: relative;

    cursor: pointer;
}

.video_wrap.first
{
    height: 200px;
}

.video_wrap .video_cover
{
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    width: 100%;
    height: 100%;

    transition: opacity .5s cubic-bezier(.25, .1, .25, 1);

    opacity: 1;
}

.video_wrap .video_cover.hide
{
    opacity: 0;
}

.modal_bg,
.modal_wrap
{
    position: fixed;
    z-index: -1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    zoom: 1;

    width: 100%;
    height: 100%;
    height: 100vh;

    cursor: pointer;
    transition: all .5s cubic-bezier(.25, .1, .25, 1);

           opacity: 0;
    background-color: rgba(0,0,0,.65);

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

body.modal_show
{
    overflow: hidden;

    width: 100%;
    height: 100%;

    background-color: transparent;
}

body.modal_show .modal_bg
{
    z-index: 1000000;

    zoom: 1;

    width: 100%;
    height: 100%;

    cursor: pointer;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.modal_wrap
{
    position: fixed;
    z-index: -1;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;

    zoom: 1;

    width: 510px;
    height: 242px;
    margin: -121px 0 0 -255px;

    transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    text-align: center;

           opacity: 0;
    background-color: #fff;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

.modal_wrap.show
{
    z-index: 1000000;

    zoom: 1;

    transform: translate3d(0, 0, 0);

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.modal_wrap .modal
{
    width: 100%;
    height: 100%;
}

.ua-sp .accordion_sp
{
    position: relative;

    text-align: left;

    border-top: none;
}

.ua-sp .accordion_sp + ul
{
    overflow: hidden;

    height: 0;

    transition: height .5s cubic-bezier(.25, .1, .25, 1);
}

.ua-sp .accordion_sp:before,
.ua-sp .accordion_sp:after
{
    position: absolute;
    top: 50%;
    right: 7px;
    bottom: auto;
    left: auto;

    width: 2px;
    height: 12px;
    margin-top: -6px;
    margin-right: 5px;

    transition: all .5s cubic-bezier(.25, .1, .25, 1);

    background-color: #6d6d6d;
}

.ua-sp .accordion_sp:after
{
    width: 12px;
    height: 2px;
    margin-top: -1px;
    margin-right: 0;
}

.ua-sp .accordion_sp.show:before,
.ua-sp .accordion_sp.show:after
{
    transform: rotate(135deg);
}

header
{
    position: fixed;
    z-index: 99999;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    width: 100%;
    min-width: 1200px;

    cursor: pointer;
    transition: background-color .3s cubic-bezier(.25, .1, .25, 1);

    background-color: transparent;
}

header:hover
{
    background-color: #fff;
}

header:hover .h_wrap li a
{
    color: #080808;
}

header:hover .h_wrap .logo .nav_black
{
    zoom: 1;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

header:hover .h_wrap .logo .nav_white
{
    zoom: 1;

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

header .h_wrap
{
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 27px 27px 0 27px;
}

header .h_wrap .h_logo
{
    float: left;

    margin: 0 auto 20px auto;

    text-align: left;
}

header .h_wrap .h_logo span
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
}

header .h_wrap .h_logo span img
{
    vertical-align: middle;
}

.h_wrap
{
    width: 100%;
    margin: 0 auto;
}

.h_wrap .h_inner
{
    float: right;

    margin: 0 auto;

    text-align: right;
}

.h_wrap .h_inner li
{
    position: relative;

    display: inline-block;

    padding: 0 13px;

    text-align: center;
}

.h_wrap .h_inner li a
{
    font-size: 14px;

    position: relative;

    display: block;

    width: 100%;
    height: 100%;

    transition: all .5s cubic-bezier(.25, .1, .25, 1);
    text-decoration: none;
}

.h_wrap .h_inner li a span
{
    display: inline-block;

    padding-bottom: 27px;
}

.h_wrap .h_inner li a.current
{
    opacity: .5;
}

.h_wrap .h_inner li a:before,
.h_wrap .h_inner li a:after
{
    position: absolute;
    top: auto;
    right: auto;
    bottom: -2px;
    left: 50%;

    width: 0;
    height: 1px;

    transition: width .5s cubic-bezier(.25, .1, .25, 1);

    background-color: #000;
}

.h_wrap .h_inner li a:after
{
    position: absolute;
    top: auto;
    right: 50%;
    bottom: -2px;
    left: auto;
}

.h_wrap .h_inner li a:hover
{
    zoom: 1;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.h_wrap .h_inner li a:hover:after,
.h_wrap .h_inner li a:hover:before
{
    width: 50%;
}

.nav_fixed header
{
    background-color: #fff;
}

.nav_fixed header .h_wrap .gnav li a
{
    color: #080808;
}

.nav_fixed header .h_wrap .logo .nav_black
{
    zoom: 1;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.nav_fixed header .h_wrap .logo .nav_white
{
    zoom: 1;

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

.nav_black header .h_wrap .gnav li a
{
    color: #080808;
}

.nav_black header .h_wrap .logo .nav_black
{
    zoom: 1;

           opacity: 1;

        filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
      -moz-opacity: 1;
    -khtml-opacity: 1;
}

.nav_black header .h_wrap .logo .nav_white
{
    zoom: 1;

           opacity: 0;

        filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
      -moz-opacity: 0;
    -khtml-opacity: 0;
}

#progress
{
    position: absolute;
    z-index: 1000000;
    top: 80px;
    right: 80px;
    bottom: auto;
    left: auto;

    width: 20px;
    height: 20px;

    opacity: 0;
}

footer
{
    position: absolute;
    z-index: 999999;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;

    width: 100%;
}

footer .footer_wrap
{
    margin: 0 auto;
    padding: 30px 20px;

    border-top: 1px solid #fff;
}

footer nav
{
    float: left;
}

footer nav ul
{
    margin-bottom: 10px;

    text-align: center;
}

footer nav ul li
{
    position: relative;

    display: inline-block;
}

footer nav ul li a
{
    font-size: 14px;

    display: block;

    padding: 0 13px;

    text-decoration: none;

    color: #080808;
}

footer nav ul li a.current
{
    opacity: .5;
}

footer nav ul:last-child
{
    margin-bottom: 0;
}

footer nav ul.brvbar li:after
{
    position: absolute;
    top: -3px;
    right: -5px;

    width: 11px;
    height: 100%;

    content: '|';

    color: #fff;
}

footer nav ul.brvbar li:last-child:after
{
    display: none;
}

footer .copyright
{
    display: block;
    float: right;

    text-align: center;
}

footer .copyright small
{
    text-align: center;
}

.page-home #mainpic
{
    position: relative;
}

.page-home .pic-lazy
{
    float: left;
}

.page-home .btn_scroll
{
    color: #fff;
}

#mainpic
{
    margin-bottom: 95px;
}

@media screen and (min-width: 414px) and (max-width: 640px)
{
    html
    {
        font-size: 68.75%;
    }
}

@media only screen and (max-width: 800px)
{
    body.modal_show
    {
        height: auto;
    }

    .modal_wrap
    {
        left: 6%;

        width: 88%;
        height: 280px;
        margin: 0;
        margin-top: -100px;
    }
}

@media only screen and (max-width: 640px)
{
    html
    {
        font-size: 62.5%;
    }

    .loader
    {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;

        border: 1px solid transparent;
        border-top-color: #282828;
        border-bottom-color: #282828;
        border-left-color: #282828;
        border-radius: 30px;
    }

    .modal_wrap
    {
        height: 269px;
    }
}

@media print
{
    *
    {
        -webkit-print-color-adjust: exact;
    }
}

@keyframes spin
{
    0%
    {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
